workflows/12. 一键自动监控X_Twitter平台工作流.json
{
  "name": "12. 一键自动监控X/Twitter平台工作流",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1232,
        704
      ],
      "id": "6ac93a30-7d79-4614-96a6-7e8ba4f2689c",
      "name": "定时触发"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "756211e0-2507-44bd-b003-76e2e310bb01",
              "name": "多维表格Token",
              "value": "JRW5bBlOBa2i9MsI0SbccyCSnBb",
              "type": "string"
            },
            {
              "id": "00fa52b7-25d3-4379-9ee1-db9e321848eb",
              "name": "监控账户列表Table",
              "value": "tblaH8xkwiyUEQis",
              "type": "string"
            },
            {
              "id": "4474a2d4-791d-4c74-b5e0-b47b5ff15154",
              "name": "X/Twitter Table",
              "value": "tbl424qxeELcIbAo",
              "type": "string"
            },
            {
              "id": "cb8c6536-1a83-493b-9240-a6bcc9143e8a",
              "name": "消息接收者ID",
              "value": "ou_b4cf08f683b18c7c623b1cb63a572897",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        704
      ],
      "id": "0d398aab-80c8-462f-8c8f-a64bce330493",
      "name": "字段聚合"
    },
    {
      "parameters": {
        "jsCode": "// 从输入中获取项目列表，并确保关键字段存在。\nconst items = $input.first().json.data.items.filter(item =>\n  item.fields['作者'] &&\n  item.fields['ID'] &&\n  item.fields['平台'] &&\n  item.fields['继续监控'] === \"是\"\n);\n\n// 使用 .reduce() 方法将项目分组到一个新对象中。\n// 'acc' 是累加器（我们的最终对象），'item' 是循环中的当前项目。\nconst groupedByPlatform = items.reduce((acc, item) => {\n  // 获取平台名称用作键（例如：\"X（Twitter）\"）\n  const platformKey = item.fields['平台'];\n\n  // 如果这个平台的键在结果对象中还不存在，\n  // 就将其初始化为一个空数组。\n  if (!acc[platformKey]) {\n    acc[platformKey] = [];\n  }\n\n  // 创建格式化后的记录。\n  // 注意：我已将 item.fields['作者'][0] 修正为 item.fields['作者'][0].text\n  // 以便获取实际的作者名字字符串，这很可能是你需要的。\n  const record = {\n    author: item.fields['作者'][0].text,\n    id: item.fields.ID[0].text,\n    category: item.fields['类别']\n  };\n\n  // 将新创建的记录添加到对应平台的数组中。\n  acc[platformKey].push(record);\n\n  // 返回累加器（acc），以便在下一次迭代中使用。\n  return acc;\n}, {}); // 累加器的初始值是一个空对象 {}。\n\n// 返回最终的分组对象。\n// 这样包装可以使其成为一个单独的数据项，方便后续节点处理。\nreturn [{\n  json: groupedByPlatform\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        704
      ],
      "id": "66279032-ef0e-48d3-9e8a-100479c80167",
      "name": "监控账户数据格式化"
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:search",
        "app_toke": "={{ $json['多维表格Token'] }}",
        "table_id": "={{ $json['监控账户列表Table'] }}",
        "page_size": 500,
        "body": "{}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        -784,
        704
      ],
      "id": "8c41695d-4477-42db-8baf-c5e8e8cbac24",
      "name": "获取监控账户",
      "retryOnFail": true,
      "credentials": {
        "feishuCredentialsApi": {
          "id": "Ydn6uEuHJxhLVX19",
          "name": "Feishu Credentials account（n8n）"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e07e038-c4a9-4f58-ae87-bd0bb24ee2cf",
              "leftValue": "={{ $json.code }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "40cd9363-56ff-4385-8eab-433a3dd2bb41",
              "leftValue": "={{ $json.data.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -560,
        704
      ],
      "id": "905ee263-84ea-4655-9be7-00cfa6b9fa6e",
      "name": "账户数据获取判断"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e063bfc6-6883-4260-8b7a-cee6f7ddb001",
              "leftValue": "={{ $json[\"X/Twitter\"] }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -112,
        704
      ],
      "id": "08ade422-51d2-4da9-bfff-a385bd6842af",
      "name": "判断-X/Twitter"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. 在这里修改天数 ---\n// 设置要从几天前开始获取数据（一直获取到当前时刻）\n// 例如: 3 代表获取从3天前的此刻，到现在的此刻之间的所有数据\nconst daysAgo = 1;\n\n// --- 2. 统一在 UTC 时区下，定义时间范围 ---\n\n// 获取当前的 UTC 时间作为筛选的结束点\nconst endTimeUTC = DateTime.now().setZone('utc');\n\n// 计算筛选的开始时间点\nconst startTimeUTC = endTimeUTC.minus({ days: daysAgo });\n\n\n// --- 3. 获取、筛选并格式化数据 ---\nconst allItems = $input.all();\n\nconst records = allItems\n  .filter(item => {\n    // 确保 json.isoDate 字段存在\n    if (!item.json.isoDate) {\n      return false;\n    }\n    \n    // 将输入的 UTC 时间字符串解析为 DateTime 对象\n    const itemDate = DateTime.fromISO(item.json.isoDate);\n\n    // 检查日期是否有效\n    if (!itemDate.isValid) {\n      return false;\n    }\n\n    // 【核心筛选逻辑】\n    // 判断日期是否落在 [N天前的此刻, 当前此刻] 的范围内\n    return itemDate >= startTimeUTC && itemDate <= endTimeUTC;\n  })\n  .map(item => ({\n    fields: {\n      \"作者（author）\": item.json.author,\n      \"标题（title）\": item.json.title,\n      \"内容（content）\": item.json.content,\n      \"内容片段（contentSnippet）\": item.json.contentSnippet,\n      \"链接（link）\": {\n        text: item.json.link,\n        link: item.json.link\n      },\n      \"发布时间（pubDate）\": DateTime.fromISO(item.json.isoDate).toMillis()\n    }\n  }));\n\n// 返回筛选和格式化后的记录\nreturn {\n  token: $('字段聚合').first().json[\"多维表格Token\"],\n  tableId: $('字段聚合').first().json[\"X/Twitter Table\"],\n  userId: $('字段聚合').first().json[\"消息接收者ID\"],\n  records: JSON.stringify({\n    records\n  })\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        368
      ],
      "id": "9fa2715e-a616-43c4-bdbb-269f837c7dfe",
      "name": "数据格式化-X/Twitter"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:1200/twitter/media/{{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1008,
        464
      ],
      "id": "82e1bf80-f5ef-4b16-b41f-ffb2b7a3840f",
      "name": "RSS Read-Media",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:1200/twitter/user/{{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1008,
        272
      ],
      "id": "b25fa799-b22c-438c-a624-b16316c51a17",
      "name": "RSS Read-Posts",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:batchAdd",
        "app_toke": "={{ $json.token }}",
        "table_id": "={{ $json.tableId }}",
        "body": "={{ $json.records }}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1680,
        368
      ],
      "id": "3ac39441-bc48-4120-89bf-e242e2ee1563",
      "name": "批量更新数据记录-X/Twitter",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "Ydn6uEuHJxhLVX19",
          "name": "Feishu Credentials account（n8n）"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        704
      ],
      "id": "a1bda0f6-0d71-4065-bb1c-9bfcdb96e042",
      "name": "循环监控账户-X/Twitter"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1232,
        368
      ],
      "id": "c2760e25-b73e-4c25-909b-0a9c5fab9e8e",
      "name": "分支数据合并"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.category.includes('posts') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6a0ed47f-1d2f-4f6d-a1fd-9ed47297a85f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Posts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d99b8eb-6ffa-4135-8c86-32c0184c0f8a",
                    "leftValue": "={{ $json.category.includes('media') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Media"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        784,
        368
      ],
      "id": "59512f03-6b69-468a-a904-e82d377cd30c",
      "name": "Switch"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        368
      ],
      "id": "b574d91d-4d77-4922-8971-cbff94879f3a",
      "name": "等待",
      "webhookId": "eb904ddf-d484-4769-bc1d-dd3b995d4ba9"
    },
    {
      "parameters": {
        "fieldToSplitOut": "[\"X/Twitter\"]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        112,
        704
      ],
      "id": "46689f55-6732-4b76-b2f0-89fbc1d287e1",
      "name": "X/Twitter账户"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "message:send",
        "receive_id": "={{ $('数据格式化-X/Twitter').item.json.userId }}",
        "content": "={\"text\": {{ $json.error.toJsonString() }}}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1904,
        448
      ],
      "id": "070fad03-2d52-4f9d-8823-d425ac803922",
      "name": "异常信息提醒",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "Ydn6uEuHJxhLVX19",
          "name": "Feishu Credentials account（n8n）"
        }
      }
    },
    {
      "parameters": {
        "content": "### RSSHub X/Twitter 配置 [参考文档](https://docs.rsshub.app/zh/routes/social-media#x-twitter)\n\n#### User Media\n* 路由：/twitter/media/:id/:routeParams?\n* 参数：\nid：用户id\nrouteParams：额外参数\n\n#### User timeline\n* 路由：/twitter/user/:id/:routeParams?\n* 参数：\nid：用户id\nrouteParams：额外参数\n\n",
        "height": 336,
        "width": 320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        -80
      ],
      "id": "7118585b-d1f7-4537-9ea2-f961f0f84833",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 飞书多维表格配置\n\n* 多维表格Token\n* 监控账户列表Table\n* X/Twitter Table\n* 消息接收者ID",
        "width": 192,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        528
      ],
      "id": "f54f1b6f-3911-422d-b7d8-0a29205f9949",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "定时触发": {
      "main": [
        [
          {
            "node": "字段聚合",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "字段聚合": {
      "main": [
        [
          {
            "node": "获取监控账户",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取监控账户": {
      "main": [
        [
          {
            "node": "账户数据获取判断",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "账户数据获取判断": {
      "main": [
        [
          {
            "node": "监控账户数据格式化",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "监控账户数据格式化": {
      "main": [
        [
          {
            "node": "判断-X/Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read-Posts": {
      "main": [
        [
          {
            "node": "分支数据合并",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "循环监控账户-X/Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据格式化-X/Twitter": {
      "main": [
        [
          {
            "node": "批量更新数据记录-X/Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read-Media": {
      "main": [
        [
          {
            "node": "分支数据合并",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "循环监控账户-X/Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断-X/Twitter": {
      "main": [
        [
          {
            "node": "X/Twitter账户",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "循环监控账户-X/Twitter": {
      "main": [
        [],
        [
          {
            "node": "等待",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "分支数据合并": {
      "main": [
        [
          {
            "node": "数据格式化-X/Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "RSS Read-Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RSS Read-Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X/Twitter账户": {
      "main": [
        [
          {
            "node": "循环监控账户-X/Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "批量更新数据记录-X/Twitter": {
      "main": [
        [
          {
            "node": "循环监控账户-X/Twitter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "异常信息提醒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "异常信息提醒": {
      "main": [
        [
          {
            "node": "循环监控账户-X/Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Shanghai",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "266f358e-e07a-42e9-bfaa-e50fc5006b4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c928eeaee758be2d3bab57c89216cac3a53d5ef34d1b75b3c4dd2ae606463960"
  },
  "id": "V9efokGKEfbaLJvW",
  "tags": []
}