workflows/Docker_Whisper.json
{
  "name": "Docker Whisper",
  "nodes": [
    {
      "parameters": {
        "formTitle": "File",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "89868e50-b10d-44e4-89fe-6ce8aacc3d34",
      "name": "On form submission",
      "webhookId": "0149298d-816d-46ca-94c3-7bbf7cce9249"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.3:5000/transcribe",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "9cc14204-86b4-4ead-921b-80070d01dfae",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const input = $json[\"data\"];\n\nconst blocks = input.trim().split(/\\n{2,}/);\nconst result = [];\n\nfor (const block of blocks) {\n  const lines = block.split(\"\\n\");\n  if (lines.length >= 3) {\n    const index = lines[0];\n    const time = lines[1];\n    const content = lines.slice(2).join(\" \");\n    result.push({\n      Index: parseInt(index),\n      Time: time,\n      Content: content,\n    });\n  }\n}\n\nreturn result.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "ed4983e5-a82c-42ec-9788-acba5e92c808",
      "name": "Code"
    },
    {
      "parameters": {
        "formTitle": "File",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        220
      ],
      "id": "560dbde3-8919-442b-a927-6dd8578b9fd1",
      "name": "On form submission1",
      "webhookId": "8c911b9f-a374-410b-aa9b-a1cc5eb9b79e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.3:5000/transcribe",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "subtitle.srt"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        220
      ],
      "id": "c30ffdde-a574-4501-b329-7ed3086cc480",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "./output/.subtitle/subtitle.srt",
        "dataPropertyName": "subtitle.srt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        440,
        220
      ],
      "id": "42c4d470-e133-463f-a2b0-c3630855a0e5",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "content": "# OpenAI Whisper本地部署及n8n集成全攻略\n——————————————————————————\n## 视频地址\nhttps://youtu.be/xTkBDGthf18\n\n\n# Jay's AI Lab\n## 精选n8n工作流\n——————————————————————————\n### MCP AI 智能体工作流\nhttps://www.youtube.com/watch?v=h1nBLKsN6CA\n\n### RAG AI 智能知识库工作流\nhttps://www.youtube.com/watch?v=TKdxIZuHVEg\n\n### Crawl4AI 网站爬虫工作流\nhttps://www.youtube.com/watch?v=eZdnBTjiv04\n\n### ChatGPT 4o 图片生成功能用法脑图\nhttps://www.youtube.com/watch?v=7Io5Pe7cnbA\n\n### AI短视频生成工作流\nhttps://www.youtube.com/watch?v=f_jVxg3s0Kw\n\n### AI自动化生成上传短视频工作流(免费版）\nhttps://www.youtube.com/watch?v=vohYEGmLT5U\n\n### AI自动化新闻口播视频工作流\nhttps://www.youtube.com/watch?v=4CqcVmx713w\n\n### 有声小说长视频的自动化工作流\nhttps://www.youtube.com/watch?v=FNUzlEY9DKE",
        "height": 980,
        "width": 900,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1020,
        0
      ],
      "typeVersion": 1,
      "id": "2751d853-de8f-4c27-be1b-2d36cfd92a8c",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "43406c18-0cef-4476-b132-00a39cbb24c9",
  "meta": {
    "instanceId": "e6391b4c2e315633fd4a8ac91c5d2be70d78746250c0122e60aa7bd1b17ccfe2"
  },
  "id": "rdrScstO3BIRFsAi",
  "tags": []
}