workflows/数字人口播视频.json
{
  "name": "数字人口播视频",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=生成新闻口播搞",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=从通过关于{{ $json['主题'] }}的新闻内容得到的搜索结果中，选出从{{$now.minus(3,'day').format('yyyy-MM-dd')}}到{{$now.format('yyyy-MM-dd')}}热度最高最新的三篇文章，记录新闻的【新闻时间】，总结成中文80字左右的【口播稿】，\n\n要求：\n1. 第一篇文章第一句话是\"大家好，我是西羊石口播数字人小紫\"；\n2. 语言自然，简单易懂；\n3. 对我们创作者或创业公司有实际性价值，不需要假大空的文章；\n4. 如果【口播稿】中包含有数字需要改成汉字（比如，2025需改成二零二五，3需改成三，等等）；\n5. 给这个口播稿取一个【标题】， 并按【Index】顺序记录。\n \n输出JSON格式：\n{\n    \"Index\": \"Index\",    \n    \"Topic\": \"标题\",\n    \"Transcript\": \"段落\",\n    \"Date\": \"新闻时间\"\n},\n{\n    \"Index\": \"Index\",    \n    \"Topic\": \"标题\",\n    \"Transcript\": \"段落\",\n    \"Date\": \"新闻时间\"\n},\n{\n    \"Index\": \"Index\",    \n    \"Topic\": \"标题\",\n    \"Transcript\": \"段落\",\n    \"Date\": \"新闻时间\"\n},\n{\n    \"Index\": \"Index\",    \n    \"Topic\": \"标题\",\n    \"Transcript\": \"段落\",\n    \"Date\": \"新闻时间\"\n},\n{\n    \"Index\": \"Index\",    \n    \"Topic\": \"标题\",\n    \"Transcript\": \"段落\",\n    \"Date\": \"新闻时间\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        720,
        80
      ],
      "id": "8f4162d3-672f-45c0-b295-c7bdf19f5717",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "fileSelector": "/data/files/1/news.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        240,
        80
      ],
      "id": "fae00710-5bb0-420b-97bf-a9f04c983ce9",
      "name": "主题表"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        80
      ],
      "id": "2ea03148-a341-441a-a1be-fbf600828098",
      "name": "数据转换"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[{\n    \"Index\": \"Index\",    \n    \"Topic\": \"标题\",\n    \"Transcript\": \"段落\",\n    \"Date\": \"新闻时间\"\n},\n{\n    \"Index\": \"Index\",    \n    \"Topic\": \"标题\",\n    \"Transcript\": \"段落\",\n    \"Date\": \"新闻时间\"\n},\n{\n    \"Index\": \"Index\",    \n    \"Topic\": \"标题\",\n    \"Transcript\": \"段落\",\n    \"Date\": \"新闻时间\"\n},\n{\n    \"Index\": \"Index\",    \n    \"Topic\": \"标题\",\n    \"Transcript\": \"段落\",\n    \"Date\": \"新闻时间\"\n},\n{\n    \"Index\": \"Index\",    \n    \"Topic\": \"标题\",\n    \"Transcript\": \"段落\",\n    \"Date\": \"新闻时间\"\n}]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        912,
        320
      ],
      "id": "77a306b9-540e-4a14-ad87-1b406b7f6ebd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        560,
        80
      ],
      "id": "bcdd6723-307b-4a52-8bd7-a8bf006d90e7",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        624,
        320
      ],
      "id": "a12cdf5c-ac48-4808-b165-f1a57a03d030",
      "name": "DeepSeek",
      "credentials": {
        "deepSeekApi": {
          "id": "2q1b2cacNkJcFVBi",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        848
      ],
      "id": "99e0bcf8-1bba-4f1f-967b-df862e2b6529",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8188/history/{{ $('任务ID').item.json.prompt_id }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        608
      ],
      "id": "e989af6c-30e8-403a-9b88-6be219fd727c",
      "name": "查询任务",
      "alwaysOutputData": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        704,
        608
      ],
      "id": "5492a708-3e05-419c-b3f8-ff494253c527",
      "name": "Wait",
      "webhookId": "9d10cd5b-47df-4f29-a2b5-9c1c2f5ba222"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "de819fb6-bd6f-4a15-8c74-ed117f45dbff",
              "leftValue": "={{ $('查询任务').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ac2c6ff2-93b0-453a-8ef3-7390a4c650b9",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        608
      ],
      "id": "a1cd3897-e56b-47d7-82d1-01c82c05dcf8",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        800
      ],
      "id": "71322e6c-de20-4891-91c9-b8b13033c445",
      "name": "Wait1",
      "webhookId": "9d10cd5b-47df-4f29-a2b5-9c1c2f5ba222",
      "retryOnFail": true
    },
    {
      "parameters": {
        "content": "## 百度新闻搜索和LLM改写口播及整理数据",
        "height": 480,
        "width": 1180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3daf7a7e-067e-4022-989f-128c0cd3abbb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ComfyUI-Index-TTS 声音克隆",
        "height": 500,
        "width": 1840,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        528
      ],
      "id": "beee128c-1e54-4429-a57c-35cda77e44c3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## ComfyUI数字人Heygem制作",
        "height": 520,
        "width": 1860,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        1088
      ],
      "id": "40f89a92-fe21-497b-a2af-bd0bad776027",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8188/view?filename={{ $('查询任务').item.json[$('制作语音').item.json.prompt_id].outputs['4'].audio[0].filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        592
      ],
      "id": "d59d81d3-8d8c-4eb9-aef5-850c3b567c2e",
      "name": "下载语音"
    },
    {
      "parameters": {
        "toolDescription": "Searching for news on the Internet",
        "method": "POST",
        "url": "https://qianfan.baidubce.com/v2/ai_search/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer bce-v3/ALTAK-pRbN9rVZ3ivXgCekuhkK5/0275927bf2f5cae56880d75a8aaf3a06cfd52818"
            },
            {
              "name": "HOST",
              "value": "qianfan.baidubce.com"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messages\": [\n        {\n            \"content\": \"{{ $json['主题'] }}\",\n            \"role\": \"user\"\n        }\n    ],\n    \"search\": true,\n    \"search_source\": \"baidu_search_v2\",\n   \n    \"time_range\": [\n    {{Date.now() - 7 * 24 * 60 * 60 * 1000}}, \n    {{Date.now()}} \n  ],\n\n    \"enable_corner_markers\": true,\n\"resource_type_filter\": [{\"type\": \"web\",\"top_k\": 15}]\n   \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        768,
        368
      ],
      "id": "477dd68f-359c-466d-a8ea-ec2280e03804",
      "name": "baidu_tools"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1024,
        80
      ],
      "id": "2989a7a3-cd98-4c88-9165-f82c01af3c29",
      "name": "新闻分组"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/files/1/{{ $('Loop Over Items').item.json.Index }}.flac",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1504,
        800
      ],
      "id": "e1e89fe9-2a56-4926-946f-1eb642f66921",
      "name": "保存语音"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        80,
        1152
      ],
      "id": "f16d8509-eeb4-4a07-97f7-1d5012784d97",
      "name": "Limit2"
    },
    {
      "parameters": {
        "amount": 80
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        1152
      ],
      "id": "23db8e58-4a81-4272-bd58-008b525fa0a1",
      "name": "Wait2",
      "webhookId": "9d10cd5b-47df-4f29-a2b5-9c1c2f5ba222"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de819fb6-bd6f-4a15-8c74-ed117f45dbff",
              "leftValue": "={{ $('数字人查询任务').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1472,
        1152
      ],
      "id": "a2c86997-4df1-4816-ae1e-096ddaabbe53",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1328,
        1328
      ],
      "id": "7c8cc9cf-974a-4d96-819a-992a14b27c82",
      "name": "Wait3",
      "webhookId": "9d10cd5b-47df-4f29-a2b5-9c1c2f5ba222"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "932c4fea-d4de-49d6-b77d-de5c7260e037",
              "name": "workflow",
              "value": "={\n  \"1\": {\n    \"inputs\": {\n      \"text\": [\n        \"2\",\n        0\n      ],\n      \"model_version\": \"IndexTTS-1.5\",\n      \"language\": \"auto\",\n      \"speed\": 1,\n      \"seed\": {{ $json.seed }},\n      \"temperature\": 1,\n      \"top_p\": 0.8,\n      \"top_k\": 30,\n      \"repetition_penalty\": 10,\n      \"length_penalty\": 0,\n      \"num_beams\": 3,\n      \"max_mel_tokens\": 600,\n      \"sentence_split\": \"auto\",\n      \"reference_audio\": [\n        \"3\",\n        0\n      ]\n    },\n    \"class_type\": \"IndexTTSNode\",\n    \"_meta\": {\n      \"title\": \"Index TTS\"\n    }\n  },\n  \"2\": {\n    \"inputs\": {\n      \"text\": \"{{ $('Loop Over Items').item.json.Transcript }}\"\n    },\n    \"class_type\": \"LayerUtility: TextBox\",\n    \"_meta\": {\n      \"title\": \"图层工具：文本框\"\n    }\n  },\n  \"3\": {\n    \"inputs\": {\n      \"audio\": \"{{ $('上传克隆声音').item.json.name }}\",\n      \"audioUI\": \"\"\n    },\n    \"class_type\": \"LoadAudio\",\n    \"_meta\": {\n      \"title\": \"加载音频\"\n    }\n  },\n  \"4\": {\n    \"inputs\": {\n      \"filename_prefix\": \"ComfyUI\",\n      \"audioUI\": \"\",\n      \"audio\": [\n        \"1\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveAudio\",\n    \"_meta\": {\n      \"title\": \"保存音频\"\n    }\n  }\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        800
      ],
      "id": "d7670222-6110-40c9-b761-3f8828007402",
      "name": "Comfy_TTS工作流"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "932c4fea-d4de-49d6-b77d-de5c7260e037",
              "name": "workflow",
              "value": "={\n  \"5\": {\n    \"inputs\": {\n      \"audio\": \"{{ $('上传口播语音').item.json.name }}\",\n      \"audioUI\": \"\"\n    },\n    \"class_type\": \"LoadAudio\",\n    \"_meta\": {\n      \"title\": \"加载音频\"\n    }\n  },\n  \"6\": {\n    \"inputs\": {\n      \"video\": \"{{ $('上传形象视频').item.json.name }}\",\n      \"force_rate\": 30,\n      \"custom_width\": 0,\n      \"custom_height\": 0,\n      \"frame_load_cap\": 0,\n      \"skip_first_frames\": 0,\n      \"select_every_nth\": 1,\n      \"format\": \"AnimateDiff\"\n    },\n    \"class_type\": \"VHS_LoadVideo\",\n    \"_meta\": {\n      \"title\": \"加载视频\"\n    }\n  },\n  \"7\": {\n    \"inputs\": {\n      \"mode\": \"pingpong\",\n      \"stop_heygem\": false,\n      \"fps\": 30,\n      \"audio\": [\n        \"5\",\n        0\n      ],\n      \"video\": [\n        \"9\",\n        0\n      ]\n    },\n    \"class_type\": \"HeyGemRun\",\n    \"_meta\": {\n      \"title\": \"HeyGem AI Avatar\"\n    }\n  },\n  \"8\": {\n    \"inputs\": {\n      \"frame_rate\": 30,\n      \"loop_count\": 0,\n      \"filename_prefix\": \"AnimateDiff\",\n      \"format\": \"video/h264-mp4\",\n      \"pix_fmt\": \"yuv420p\",\n      \"crf\": 19,\n      \"save_metadata\": true,\n      \"trim_to_audio\": false,\n      \"pingpong\": false,\n      \"save_output\": true,\n      \"images\": [\n        \"7\",\n        0\n      ],\n      \"audio\": [\n        \"5\",\n        0\n      ]\n    },\n    \"class_type\": \"VHS_VideoCombine\",\n    \"_meta\": {\n      \"title\": \"合并为视频\"\n    }\n  },\n  \"9\": {\n    \"inputs\": {\n      \"aspect_ratio\": \"original\",\n      \"proportional_width\": 1,\n      \"proportional_height\": 1,\n      \"fit\": \"letterbox\",\n      \"method\": \"lanczos\",\n      \"round_to_multiple\": \"8\",\n      \"scale_to_side\": \"longest\",\n      \"scale_to_length\": 1280,\n      \"background_color\": \"#000000\",\n      \"image\": [\n        \"6\",\n        0\n      ]\n    },\n    \"class_type\": \"LayerUtility: ImageScaleByAspectRatio V2\",\n    \"_meta\": {\n      \"title\": \"按宽高比缩放_V2\"\n    }\n  }\n}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        1408
      ],
      "id": "ddb05e40-1b4c-4b17-8509-97a46a56dd2e",
      "name": "Comfy_heygem工作流"
    },
    {
      "parameters": {
        "content": "## 保存新闻文档",
        "height": 484,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "id": "ca8df280-a901-4c5e-a051-b2c8a0b4a2cc",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/upload/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "=image",
              "inputDataFieldName": "=data"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "type",
              "value": "input"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        288,
        1408
      ],
      "id": "892f328e-18fc-4848-bde3-20b4b643c735",
      "name": "上传口播语音"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        48,
        1408
      ],
      "id": "296e059a-bd6f-47cd-b9a4-6916fe7fafb5",
      "name": "读取口播语音"
    },
    {
      "parameters": {
        "fileSelector": "=/data/files/1/xx.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        480,
        1408
      ],
      "id": "8df30276-37d2-4270-a111-f4ed22c1fd3a",
      "name": "读取形象视频"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/upload/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "=image",
              "inputDataFieldName": "=data"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "type",
              "value": "input"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        1408
      ],
      "id": "d7d0a97b-7a60-4a72-a061-067dd82b9dcd",
      "name": "上传形象视频"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.workflow }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        1152
      ],
      "id": "f6fd94a9-e532-44d5-8329-c34e91fbf44e",
      "name": "制作数字人"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8188/history/{{ $('任务ID1').item.json.prompt_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        1152
      ],
      "id": "9d7671fd-80db-41a7-9e8f-a31e936bf745",
      "name": "数字人查询任务",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        1392
      ],
      "id": "2eba2f82-c01d-4a68-802a-5bf39d3d4f67",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.workflow }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        608
      ],
      "id": "eb2367e7-2098-484f-9d51-fd9fd87c8025",
      "name": "制作语音"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4d74de3-6b67-4fc5-99bc-fda31516599e",
              "name": "seed",
              "value": "={{Math.floor(Math.random() * 1000000) + 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        800
      ],
      "id": "dbc236a3-6853-42a7-bbb8-ce62a93101d4",
      "name": "seed"
    },
    {
      "parameters": {
        "url": "=http:/host.docker.internal:8188/view?filename={{ $('数字人查询任务').item.json[$('制作数字人').item.json.prompt_id].outputs['8'].gifs[0].filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        1120
      ],
      "id": "1751f4eb-c92d-4cb5-98fb-0c8f75c1c7c5",
      "name": "下载数字人"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "471991eb-c811-4be9-8803-bd6dfdf269b9",
              "name": "prompt_id",
              "value": "={{ $('制作语音').item.json.prompt_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        608
      ],
      "id": "0ff7ab80-c467-4b8d-bf5f-f976845e8665",
      "name": "任务ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "471991eb-c811-4be9-8803-bd6dfdf269b9",
              "name": "prompt_id",
              "value": "={{ $('制作数字人').item.json.prompt_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        1152
      ],
      "id": "cb1f2bea-f078-4d7f-8215-08c341e7da97",
      "name": "任务ID1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/files/1/{{ $('限制条数').item.json.Index }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1664,
        1344
      ],
      "id": "66a7b435-fa8e-4a1f-83ff-666ea6de9f75",
      "name": "保存数字人"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12439f43-4060-404f-8c5d-1c83461a397f",
              "name": "video",
              "value": "={{ $json.fileName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        1712
      ],
      "id": "55402e73-f5f6-4a65-b3b2-3830d542eb5c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        288,
        1712
      ],
      "id": "34f58743-820c-4c22-ae67-a89127172de8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "video",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        736,
        1712
      ],
      "id": "dc7132ad-568e-4bd0-bb04-4fc8307a3d77",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fafe3c05-7aa4-4847-953b-2bdb931da136",
              "name": "video",
              "value": "={{ $json.video.map(item => `file '${item}'`).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        1712
      ],
      "id": "5f01bfc1-4eda-4108-a5ea-3112d787eb3f",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/files/1/video.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        960,
        1712
      ],
      "id": "c84de044-bac6-4ae2-a6ad-7862b670596a",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "command": "=ffmpeg -i \"concat:/data/files/1/1.mp4|/data/files/1/2.mp4|/data/files/1/3.mp4\" -c copy /data/files/news.mp4"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1184,
        1712
      ],
      "id": "79ad63ca-eb21-4fbe-a9f7-51a334187269",
      "name": "Execute Command",
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## 视频剪辑合成与保存\n\n这里执行最后一步太慢了，优化下ffmpeg的步骤",
        "height": 280,
        "width": 1868,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        1632
      ],
      "id": "16f1288c-f1ab-43b7-bbe9-03d4d067a7a5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        48,
        80
      ],
      "id": "22f7de23-65ad-4ba1-a2a1-a02e74e56367",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "23cd7566-179e-80a6-9143-e150a90a47d2",
          "mode": "list",
          "cachedResultName": "新闻IP口播稿",
          "cachedResultUrl": "https://www.notion.so/23cd7566179e80a69143e150a90a47d2"
        },
        "title": "={{$now.format('yyyy-MM-dd')}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "时间|title",
              "title": "={{$now.format('yyyy-MM-dd')}}"
            },
            {
              "key": "标题|rich_text",
              "textContent": "={{ $json.Topic }}"
            },
            {
              "key": "正文|rich_text",
              "textContent": "={{ $json.Transcript }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1280,
        80
      ],
      "id": "06afe6c2-e03c-43b4-b7a8-775ce4582835",
      "name": "保存到Notion数据库中",
      "credentials": {
        "notionApi": {
          "id": "qlqMpY4lIuX0Wu2u",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "237d7566-179e-80a9-abd4-c48668585ae2",
          "mode": "list",
          "cachedResultName": "自动化剪辑视频",
          "cachedResultUrl": "https://www.notion.so/237d7566179e80a9abd4c48668585ae2"
        },
        "title": "={{$now.format('yyyy-MM-dd')}}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "=视频链接|url",
              "ignoreIfEmpty": true,
              "urlValue": "={{ \"/data/files/news.mp4\" }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1408,
        1712
      ],
      "id": "c6ed6f94-faa9-4bbe-991a-dbf6f53befe3",
      "name": "保存视频",
      "credentials": {
        "notionApi": {
          "id": "qlqMpY4lIuX0Wu2u",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        80,
        592
      ],
      "id": "7665ddc5-33ca-47fd-b8a4-963f3b69fa20",
      "name": "限制条数"
    },
    {
      "parameters": {
        "fileSelector": "/data/files/1/axx.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        144,
        848
      ],
      "id": "4021159d-f35e-418e-b1c0-6ee86d92f005",
      "name": "读取克隆声音"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/upload/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "=image",
              "inputDataFieldName": "=data"
            },
            {
              "name": "overwrite",
              "value": "true"
            },
            {
              "name": "type",
              "value": "input"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        848
      ],
      "id": "4a492304-384d-4ac9-b0d9-d986628a42a3",
      "name": "上传克隆声音"
    }
  ],
  "pinData": {},
  "connections": {
    "主题表": {
      "main": [
        [
          {
            "node": "数据转换",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据转换": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "新闻分组",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "读取克隆声音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询任务": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "任务ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "下载语音",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "查询任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载语音": {
      "main": [
        [
          {
            "node": "保存语音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baidu_tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "新闻分组": {
      "main": [
        [
          {
            "node": "限制条数",
            "type": "main",
            "index": 0
          },
          {
            "node": "保存到Notion数据库中",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存语音": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "任务ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "下载数字人",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "数字人查询任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comfy_TTS工作流": {
      "main": [
        [
          {
            "node": "制作语音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comfy_heygem工作流": {
      "main": [
        [
          {
            "node": "制作数字人",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传口播语音": {
      "main": [
        [
          {
            "node": "读取形象视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取口播语音": {
      "main": [
        [
          {
            "node": "上传口播语音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取形象视频": {
      "main": [
        [
          {
            "node": "上传形象视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传形象视频": {
      "main": [
        [
          {
            "node": "Comfy_heygem工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "制作数字人": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数字人查询任务": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "读取口播语音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "制作语音": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "seed": {
      "main": [
        [
          {
            "node": "Comfy_TTS工作流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载数字人": {
      "main": [
        [
          {
            "node": "保存数字人",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "任务ID": {
      "main": [
        [
          {
            "node": "查询任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "任务ID1": {
      "main": [
        [
          {
            "node": "数字人查询任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存数字人": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "主题表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "保存视频",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存到Notion数据库中": {
      "main": [
        []
      ]
    },
    "限制条数": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取克隆声音": {
      "main": [
        [
          {
            "node": "上传克隆声音",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "上传克隆声音": {
      "main": [
        [
          {
            "node": "seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "793bf8ae-aa4c-4310-8118-76b22b15eaf4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be33e7a4c93bf3fbad46ee9dd2261c1867b920251d4e05c1a2fedf55455fa8e4"
  },
  "id": "GlWSkZmcW81YVjXZ",
  "tags": []
}